<!doctype html>
<html lang="zh-CN" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="个人网站">

	<link rel="shortcut icon" type="image/x-icon" href="http://hfkun.github.io/favicon.png">
    <link rel="stylesheet" href="http://hfkun.github.io/css/common.css">
	<title>视频分享</title>

    <script src="http://hfkun.github.io/lib/modernizr.js"></script>
    <!-- 只让 IE 8 以及更低版本的浏览器下载该脚本 -->
    <!--[if (lt IE 9) & (!IEMobile)]><script src="http://hfkun.github.io/lib/respond.min.js"></script><![endif]-->
    <!--IE9以下版本支持HTML5元素-->
    <!--[if lt IE 9]><script src="http://hfkun.github.io/lib/html5.js"></script><![endif]-->
	<!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- 设置苹果工具栏颜色 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="format-detection" content="telphone=no, email=no">
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
	<style>
		div#myplayer { width:1000px;height:500px;margin: 5px auto; border:1px #cccccc solid;clear:both; }
		div#ckplayer {position:relative;z-index: 100;float:left;width:680px;height:490px;margin-left:5px;margin-top:5px;}
		div.list {height:488px;width:300px;float:left;margin-top:5px;margin-left: 8px;overflow-x:hidden;overflow-y:auto;border:1px #cccccc solid;}

		div.list dl img{ width:70px;height:50px; float:left;}
		div.list dl strong { display:block; width:190px;float:left; padding-left:8px;}
		div.list dl span { display:block; width:190px;float:left; padding-left:8px;}

		div.list dl dt { width:270px;float:left; }
		div.list dl dt a { display:block; line-height:18px;padding-top:10px;  border-bottom:1px #cccccc solid; height:65px; padding-top:10px; color:#333; font-size:12px; text-decoration:none; }
		div.list dl dt a:hover{  height:65px; padding-top:10px;  text-decoration:none; background:#efefef; }
	</style>
</head>
<body>

<div id="myplayer">
	<div id="ckplayer"></div>  
  	<div class="list"></div>
</div>

<script src="http://hfkun.github.io/lib/jquery-1.11.1.min.js"></script>
<script src="ckplayer/ckplayer.js"></script>
<script>
$(function(){
	//初始化视频列表
	$.get('json/movies.json',function(data){
		var firstMovieAddr;
		var listNode = $("#myplayer").children(".list").eq(0);
		var newDL = $("<dl>").appendTo(listNode);
		$.each(data,function(i,item){
			var newDT = $("<dt>").appendTo(newDL);
			var newA = $("<a>").attr("href","javascript:;").appendTo(newDT);
			
			$("<img>").attr("src",item.titleimg).appendTo(newA);
			$("<strong>").html(item.title).appendTo(newA);
			$("<span>").html("发布日期："+item.date).appendTo(newA);
			
			newA.click(function(){
				changeStream(i,item.movieAddr);
			});
			if(i == 0){
				firstMovieAddr = item.movieAddr;
				firstMovieAddr = firstMovieAddr.substring(4,firstMovieAddr.length-1);
			}
        });
		
		var flashvars={
			f:firstMovieAddr,//视频地址
			a:'',//调用时的参数，只有当s>0的时候有效
			s:'0',//调用方式，0=普通方法（f=视频地址），1=网址形式,2=xml形式，3=swf形式(s>0时f=网址，配合a来完成对地址的组装)
			c:'0',//是否读取文本配置,0不是，1是
			x:'',//调用配置文件路径，只有在c=1时使用。默认为空调用的是ckplayer.xml
			i:'',//初始图片地址
			d:'',//暂停时播放的广告，swf/图片,多个用竖线隔开，图片要加链接地址，没有的时候留空就行
			u:'',//暂停时如果是图片的话，加个链接地址
			l:'',//前置广告，swf/图片/视频，多个用竖线隔开，图片和视频要加链接地址
			r:'',//前置广告的链接地址，多个用竖线隔开，没有的留空
			t:'',//视频开始前播放swf/图片时的时间，多个用竖线隔开
			y:'',//这里是使用网址形式调用广告地址时使用，前提是要设置l的值为空
			z:'',//缓冲广告，只能放一个，swf格式
			e:'2',//视频结束后的动作，0是调用js函数，1是循环播放，2是暂停播放并且不调用广告，3是调用视频推荐列表的插件，4是清除视频流并调用js功能和1差不多，5是暂停播放并且调用暂停广告
			v:'80',//默认音量，0-100之间
			p:'1',//视频默认0是暂停，1是播放，2是不加载视频
			h:'3',//播放http视频流时采用何种拖动方法，=0不使用任意拖动，=1是使用按关键帧，=2是按时间点，=3是自动判断按什么(如果视频格式是.mp4就按关键帧，.flv就按关键时间)，=4也是自动判断(只要包含字符mp4就按mp4来，只要包含字符flv就按flv来)
			q:'',//视频流拖动时参考函数，默认是start
			m:'',//让该参数为一个链接地址时，单击播放器将跳转到该地址
			o:'',//当p=2时，可以设置视频的时间，单位，秒
			w:'',//当p=2时，可以设置视频的总字节数
			g:'',//视频直接g秒开始播放
			j:'',//跳过片尾功能，j>0则从播放多少时间后跳到结束，<0则总总时间-该值的绝对值时跳到结束
			k:'',//提示点时间，如 30|60鼠标经过进度栏30秒，60秒会提示n指定的相应的文字
			n:'',//提示点文字，跟k配合使用，如 提示点1|提示点2
			wh:'',//宽高比，可以自己定义视频的宽高或宽高比如：wh:'4:3',或wh:'1080:720'
			lv:'0',//是否是直播流，=1则锁定进度栏
			loaded:'loadedHandler',//当播放器加载完成后发送该js函数loaded
			//调用播放器的所有参数列表结束
			//以下为自定义的播放器参数用来在插件里引用的
			my_url:encodeURIComponent(window.location.href)//本页面地址
			//调用自定义播放器参数结束
		};
		var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always'};//这里定义播放器的其它参数如背景色（跟flashvars中的b不同），是否支持全屏，是否支持交互
		//兼容HTML5
		var video=['http://hfkun.github.io/view/personal/media/movies/my.mp4->video/mp4'];
		CKobject.embed('ckplayer/ckplayer.swf','ckplayer','ckplayer_a1','100%','100%',false,flashvars,video,params);
		
				
		//播放结束时调用js
		function playerstop(){
			//只有当调用视频播放器时设置e=0或4时会有效果
			
			//连续播放
			var newAddr = "{f->http://movie.ks.js.cn/flv/2012/02/6-1.flv}";
			CKobject.getObjectById('ckplayer_a1').newAddress(newAddr);
		}
		
		function changeStream(seqNo,movieAddr){
			$(".list dl dt a").css("background","#ffffff").css("color","#333");
			$(".list dl dt a:hover").css("background","#efefef").css("color","red");
		
			var scrtop;
			if(seqNo>1){
				scrtop=55*(seqNo-1);
			}else{
				scrtop=0;
			}
			$(".list").animate({
				scrollTop:scrtop
			},130);
			
			//视频切换
			CKobject.getObjectById('ckplayer_a1').newAddress(movieAddr);
		}
	},'json');
});
</script>

</body>
</html>
