<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hfkun.俄罗斯方块</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../../favicon.png">
    <style type="text/css">
        #panel{width: 360px; height: 510px; border: 1px solid gray;padding: 1px;position: fixed;left:200px;}
        #assist{width: 220px; height: 500px; border-left: 1px solid gray;padding: 8px;position: fixed;left: 580px;}
        #scoreSpan{color: brown;}
        #res{margin-top: 10px; color: chocolate;}
        .box{width: 30px; height: 30px;border: 1px solid darkgray;position: absolute;z-index: 2;}
        .box_{width: 30px; height: 30px;border: 1px dotted #F0F0F0;position: absolute;z-index: 1;}
        .drawc{border: 1px solid gray;background-color: darkseagreen;}
    </style>
</head>
<body>
<div id="panel"></div>
<div id="assist">
    <div>按键说明：左 | 右 | 上(变形)</div>
    <div>得分：<span id="scoreSpan">0</span></div>
    <div id="res"></div>
</div>
<script src="../../../lib/jquery-1.11.1.min.js"></script>
<script>
//初始化所有形状
var groups = [
    [[[4,5,6,7],[0,0,0,0]],[[5,5,5,5],[0,1,2,3]]],
    [[[6,7,6,7],[0,0,1,1]]],
    [[[4,5,6,4],[0,0,0,1]],[[5,6,6,6],[0,0,1,2]],[[6,4,5,6],[0,1,1,1]],[[5,5,5,6],[0,1,2,2]]],
    [[[4,4,5,6],[0,1,1,1]],[[5,6,5,5],[0,0,1,2]],[[4,5,6,6],[0,0,0,1]],[[6,6,5,6],[0,1,2,2]]],
    [[[4,5,6,5],[0,0,0,1]],[[6,5,6,6],[0,1,1,2]],[[5,4,5,6],[0,1,1,1]],[[5,5,6,5],[0,1,1,2]]],
    [[[5,5,6,6],[0,1,1,2]],[[5,6,4,5],[0,0,1,1]]],
    [[[6,5,6,5],[0,1,1,2]],[[4,5,5,6],[0,0,1,1]]]
];
var groupOne = Math.floor(Math.random()*groups.length); //一级形状分组
var groupTwo = Math.floor(Math.random()*groups[groupOne].length); //二级形状分组
var cellposition = copyArray(groups[groupOne][groupTwo]); //left top
var step = 30; //每次移动的步长
var cellwidth = 12; //每一行有几格
var cellheight = 17; //每一竖有几格
var score = 0; //得分
var box1 = $("<div class='box'></div>").css("left",'-500px');
var box2 = $("<div class='box'></div>").css("left",'-500px');
var box3 = $("<div class='box'></div>").css("left",'-500px');
var box4 = $("<div class='box'></div>").css("left",'-500px');
$("#panel").append(box1).append(box2).append(box3).append(box4);

var twoBulb = new Array(); //二维灯泡，0 表示还没填格子，1 表示填了格子
for(var i=0; i<cellheight; i++){
    twoBulb[i] = new Array();
    for(var j=0; j<cellwidth; j++){
        twoBulb[i][j] = 0;

        $("#panel").append($("<div class='box_' h='"+i+"' w='"+j+"'></div>").css("left",(j*step)+'px').css("top",(i*step)+'px'));
    }
}
$(document).keyup(function (event) {
    if (event.keyCode == 37) { //左
        if (cellposition[0][0] > 0 && cellposition[0][1] > 0 && cellposition[0][2] > 0 && cellposition[0][3] > 0) {
            cellposition[0][0] = cellposition[0][0]-1;
            cellposition[0][1] = cellposition[0][1]-1;
            cellposition[0][2] = cellposition[0][2]-1;
            cellposition[0][3] = cellposition[0][3]-1;
            //根据二维灯泡判断是否可以往移动，如果重叠，则退回原来的位置，不移动
            if(twoBulb[cellposition[1][0]][cellposition[0][0]] == 1
                || twoBulb[cellposition[1][1]][cellposition[0][1]] == 1
                || twoBulb[cellposition[1][2]][cellposition[0][2]] == 1
                || twoBulb[cellposition[1][3]][cellposition[0][3]] == 1){
                cellposition[0][0] = cellposition[0][0]+1;
                cellposition[0][1] = cellposition[0][1]+1;
                cellposition[0][2] = cellposition[0][2]+1;
                cellposition[0][3] = cellposition[0][3]+1;
            }
        }
    }
    if (event.keyCode == 39) { //右
        if (cellposition[0][0] < (cellwidth-1) && cellposition[0][1] < (cellwidth-1) && cellposition[0][2] < (cellwidth-1) && cellposition[0][3] < (cellwidth-1)) {
            cellposition[0][0] = cellposition[0][0]+1;
            cellposition[0][1] = cellposition[0][1]+1;
            cellposition[0][2] = cellposition[0][2]+1;
            cellposition[0][3] = cellposition[0][3]+1;
            //根据二维灯泡判断是否可以往移动，如果重叠，则退回原来的位置，不移动
            if(twoBulb[cellposition[1][0]][cellposition[0][0]] == 1
                || twoBulb[cellposition[1][1]][cellposition[0][1]] == 1
                || twoBulb[cellposition[1][2]][cellposition[0][2]] == 1
                || twoBulb[cellposition[1][3]][cellposition[0][3]] == 1){
                cellposition[0][0] = cellposition[0][0]-1;
                cellposition[0][1] = cellposition[0][1]-1;
                cellposition[0][2] = cellposition[0][2]-1;
                cellposition[0][3] = cellposition[0][3]-1;
            }
        }
    }
    if (event.keyCode == 38) { //上，同一形状，改变位置
        changePosition();
    }
});

var interval = setInterval(function () {
    box1.css("left", (cellposition[0][0] * step) + 'px').css("top", (cellposition[1][0] * step) + 'px');
    box2.css("left", (cellposition[0][1] * step) + 'px').css("top", (cellposition[1][1] * step) + 'px');
    box3.css("left", (cellposition[0][2] * step) + 'px').css("top", (cellposition[1][2] * step) + 'px');
    box4.css("left", (cellposition[0][3] * step) + 'px').css("top", (cellposition[1][3] * step) + 'px');

    cellposition[1][0] = cellposition[1][0]+1; //top ++
    cellposition[1][1] = cellposition[1][1]+1;
    cellposition[1][2] = cellposition[1][2]+1;
    cellposition[1][3] = cellposition[1][3]+1;

    // 到底线了
    if (cellposition[1][0] == cellheight || cellposition[1][1] == cellheight || cellposition[1][2] == cellheight || cellposition[1][3] == cellheight) {
        twoBulb[cellposition[1][0]-1][cellposition[0][0]] = 1;
        twoBulb[cellposition[1][1]-1][cellposition[0][1]] = 1;
        twoBulb[cellposition[1][2]-1][cellposition[0][2]] = 1;
        twoBulb[cellposition[1][3]-1][cellposition[0][3]] = 1;
        drawTwoBulb(); //渲染已填充的格子
        changeShape(); //有任何一格到最低端，则重新开始
        cleanLine();//如果有一行是满格，消除并得分
    }

    // 根据二维灯泡判断是否可以往下移
    if(twoBulb[cellposition[1][0]][cellposition[0][0]] == 1
        || twoBulb[cellposition[1][1]][cellposition[0][1]] == 1
        || twoBulb[cellposition[1][2]][cellposition[0][2]] == 1
        || twoBulb[cellposition[1][3]][cellposition[0][3]] == 1){
        twoBulb[cellposition[1][0]-1][cellposition[0][0]] = 1;
        twoBulb[cellposition[1][1]-1][cellposition[0][1]] = 1;
        twoBulb[cellposition[1][2]-1][cellposition[0][2]] = 1;
        twoBulb[cellposition[1][3]-1][cellposition[0][3]] = 1;
        drawTwoBulb(); //渲染已填充的格子
        changeShape(); //已经填充了，则重新开始
        cleanLine();//如果有一行是满格，消除并得分
    }
}, 500);
// 同一形状的改变位置(旋转)
function changePosition(){
    var cellOrigenal = copyArray(cellposition); //保留原来的位置，如果不能变形，则还原原来的位置
    var currentLeft = cellposition[0][0];
    var currentTop = cellposition[1][0];
    //不能超出右边界
    if(currentLeft>cellwidth-4){
        currentLeft = 8;
    }
    //二级形状分组 取后一个
    if(groups[groupOne].length>1 && groupTwo < groups[groupOne].length-1){
        groupTwo++;
    }else{
        groupTwo = 0;
    }
    cellposition = copyArray(groups[groupOne][groupTwo]); //left top
    var initLeft = cellposition[0][0];
    var initTop = cellposition[1][0];
    for(var i=0; i<cellposition[0].length; i++){
        cellposition[0][i] = cellposition[0][i]-initLeft+currentLeft; //左右位置
    }
    for(var i=0; i<cellposition[1].length; i++){
        cellposition[1][i] = cellposition[1][i]-initTop+currentTop; //上下位置
    }
    //根据二维灯泡判断是否重复，不能超出下边界（避免覆盖）
    if(twoBulb[cellposition[1][0]][cellposition[0][0]] == 1
        || twoBulb[cellposition[1][1]][cellposition[0][1]] == 1
        || twoBulb[cellposition[1][2]][cellposition[0][2]] == 1
        || twoBulb[cellposition[1][3]][cellposition[0][3]] == 1){
        cellposition = cellOrigenal;
    }
}
// 改变形状
function changeShape(){
    groupOne = Math.floor(Math.random()*groups.length); //一级形状分组
    groupTwo = Math.floor(Math.random()*groups[groupOne].length); //二级形状分组
    cellposition = copyArray(groups[groupOne][groupTwo]); //left top
    //判断是否结束（到顶了）
    if(twoBulb[cellposition[1][0]][cellposition[0][0]] == 1
        || twoBulb[cellposition[1][1]][cellposition[0][1]] == 1
        || twoBulb[cellposition[1][2]][cellposition[0][2]] == 1
        || twoBulb[cellposition[1][3]][cellposition[0][3]] == 1){
        clearInterval(interval);
        setOverLabel();
    }
}
//渲染已填充的格子
function drawTwoBulb(){
    for(var i=0; i<cellheight; i++){
        for(var j=0; j<cellwidth; j++){
            if(twoBulb[i][j] == 1){
                $("div[h="+i+"][w="+j+"]").addClass("drawc");
            }else{
                $("div[h="+i+"][w="+j+"]").removeClass("drawc");
            }
        }
    }
}
//如果有一行是满格，消除并得分
function cleanLine(){
    for(var i=0; i<cellheight; i++){
        var isFullLine = true;
        for(var j=0; j<cellwidth; j++){
            if(twoBulb[i][j] == 0){
                isFullLine = false;
                break;
            }
        }
        if(isFullLine){
            setScore(i)
        }
    }
}
// 消除行并得分
function setScore(lineNum){
    score += 100;
    $("#scoreSpan").text(score);
    for(var i=lineNum-1; i>=0; i--){
        for(var j=0; j<cellwidth; j++){
            twoBulb[i+1][j] = twoBulb[i][j];
        }
    }
    drawTwoBulb(); //重新渲染
}
// 拷贝数组，因为是引用类型，不拷贝会影响到原来的数组
function copyArray(array){
    var newArr = new Array();
    for(var i=0; i<array.length; i++){
        newArr[i] = new Array();
        for(var j=0; j<array[i].length; j++){
            newArr[i][j] = array[i][j];
        }
    }
    return newArr;
}
function setOverLabel(){
    if(score < 500){
        $("#res").text("GAME OVER   /_\\   真菜!");
    }else if(score < 1000){
        $("#res").text("GAME OVER   >_<   还得加油!");
    }else{
        $("#res").text("GAME OVER   -_-   厉害了!");
    }
}
</script>
</body>
</html>