<!doctype html>
<html lang="zh-CN" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="个人网站">

	<link rel="shortcut icon" type="image/x-icon" href="../../../favicon.png">
    <link rel="stylesheet" href="../../../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/common.css">

    <title>Hfkun.Image</title>

    <script src="../../../lib/modernizr.js"></script>
    <!-- 只让 IE 8 以及更低版本的浏览器下载该脚本 -->
    <!--[if (lt IE 9) & (!IEMobile)]><script src="../../../lib/respond.min.js"></script><![endif]-->
    <!--IE9以下版本支持HTML5元素-->
    <!--[if lt IE 9]><script src="../../../lib/html5.js"></script><![endif]-->
	<!-- 删除苹果默认的工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- 设置苹果工具栏颜色 -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 忽略页面中的数字识别为电话，忽略email识别 -->
	<meta name="format-detection" content="telphone=no, email=no">
	<!-- 启用360浏览器的极速模式(webkit) -->
	<meta name="renderer" content="webkit">
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
	<meta name="HandheldFriendly" content="true">
	<!-- 微软的老式浏览器 -->
	<meta name="MobileOptimized" content="320">
	<!-- uc强制竖屏 -->
	<meta name="screen-orientation" content="portrait">
	<!-- QQ强制竖屏 -->
	<meta name="x5-orientation" content="portrait">
	<!-- UC强制全屏 -->
	<meta name="full-screen" content="yes">
	<!-- QQ强制全屏 -->
	<meta name="x5-fullscreen" content="true">
	<!-- UC应用模式 -->
	<meta name="browsermode" content="application">
	<!-- QQ应用模式 -->
	<meta name="x5-page-mode" content="app">
	<!-- windows phone 点击无高光 -->
	<meta name="msapplication-tap-highlight" content="no">
    <style>
        body{background-color: #1D1D1D;}
        .img{position: absolute;overflow: hidden;}
    </style>
</head>
<body>
    <div class="img" key="1"><img src="../../../img/res/home/1.jpg"></img></div>
    <div class="img" key="2"><img src="../../../img/res/home/2.jpg"></img></div>
    <div class="img" key="3"><img src="../../../img/res/home/3.jpg"></img></div>
    <div class="img" key="4"><img src="../../../img/res/home/4.jpg"></img></div>
    <div class="img" key="5"><img src="../../../img/res/home/5.jpg"></img></div>

<script src="../../../js/util.js"></script>
<script src="../../../lib/jquery-1.11.1.min.js"></script>
<script>
var activeKey = 1;
var isOutoShow = true;
var imgDivs = $(".img");
var pageWidth = HFK.Util.getPageWidth(window);
var pageHeigth = HFK.Util.getPageHeight(window);

var imgWidth;
var imgSideWidth;
var imgHeight;
var paddingWidth;
if(pageWidth > 1200){
    imgWidth = 800;
    imgSideWidth = 100;
    imgHeight = 440;
    paddingWidth = (pageWidth-1200)/2;
}else if (pageWidth > 1000){
    imgWidth = 800;
    imgSideWidth = 50;
    imgHeight = 440;
    paddingWidth = (pageWidth-1000)/2;
}else{
    imgWidth = pageWidth-200;
    imgSideWidth = 50;
    imgHeight = 440*imgWidth/800;
    paddingWidth = 0;
}
imgHeight = pageHeigth>imgHeight?imgHeight:pageHeigth;
var imgMarginTop = (pageHeigth-imgHeight) > 50?50:0;

// console.log("pageWidth: "+pageWidth +", imgWidth: "+imgWidth+", imgSideWidth: "+imgSideWidth +", imgHeight:"+imgHeight +", paddingWidth:"+paddingWidth +", pageHeigth:"+pageHeigth);

for(var i=0; i<imgDivs.length; i++){
    var that = $(imgDivs[i]);
    if(i == 0){that.attr("style", "left: "+paddingWidth+"px;width: "+imgWidth+"px;height: "+imgHeight+"px;top: "+imgMarginTop+"px;");}
    else{that.attr("style", "left: "+(imgWidth+(i-1)*imgSideWidth+paddingWidth)+"px;width: "+imgSideWidth+"px;height: "+imgHeight+"px;top: "+imgMarginTop+"px;");}
}
imgDivs.find("img").attr("style", "width:"+imgWidth+"px;height:"+imgHeight+"px;");
function open(key){
    for(var i=0; i<imgDivs.length; i++){
        var that = $(imgDivs[i]);
        that.stop();
        var tempKey = that.attr('key');
        if(tempKey < key){
            that.animate({
                width: imgSideWidth+'px',
                left: ((tempKey-1)*imgSideWidth+paddingWidth)+'px'
            },2000);
        }else if(tempKey > key){
            that.animate({
                width: imgSideWidth+'px',
                left: ((tempKey-2)*imgSideWidth+imgWidth+paddingWidth)+'px'
            },2000);
        }else{ // ==
            that.animate({
                width: imgWidth+'px',
                left: ((tempKey-1)*imgSideWidth+paddingWidth)+'px'
            },2000);
        }
    }
}
$(function(){
    var lastActiTime = new Date().getTime();
    $(".img").mouseover(function(){
        var tempKey = $(this).attr('key');
        if(activeKey == tempKey){
            return ;
        }
        open(tempKey);
        activeKey = tempKey;
        isOutoShow = false;
        lastActiTime = new Date().getTime();
    });

    setInterval(function(){
        if(isOutoShow){
            activeKey++;
            if(activeKey == 6){
                activeKey = 1;
            }
            open(activeKey);
        }
    }, 5000);
    setInterval(function(){
        if((new Date().getTime() - lastActiTime)/1000 > 4){
            isOutoShow = true;
        }
    }, 2000);
});
</script>

</body>
</html>