<!doctype html>
<html lang="zh-CN" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="个人网站">

    <link rel="shortcut icon" type="image/x-icon" href="http://hfkun.github.io/favicon.png">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/blog.css">

    <title>Hfkun.Blog</title>

    <script src="../../lib/modernizr.js"></script>
    <!-- 只让 IE 8 以及更低版本的浏览器下载该脚本 -->
    <!--[if (lt IE 9) & (!IEMobile)]><script src="http://hfkun.github.io/lib/respond.min.js"></script><![endif]-->
    <!--IE9以下版本支持HTML5元素-->
    <!--[if lt IE 9]><script src="http://hfkun.github.io/lib/html5.js"></script><![endif]-->
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 设置苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telphone=no, email=no">
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
</head>
<body>
<div class="navbar-top">
    <div class="container">
        <div>
            <a class="navbar-brand" href="http://hfkun.github.io">Hfkun</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:;">我的博客</a></li>
                <li><a href="javascript:;">收藏的博客</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="container">
        <h1>博客分享基地</h1>
        <p>一个人的智慧是基础，一群人的智慧是力量！</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="jumbotron">
                <h1>我的标题1</h1>
                <div class="blog-time">2010-01-04</div>
                <p>这是内容，这是内容这是内哦你</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>
        <div class="col-lg-3 border">b</div>
    </div>
</div>

<script src="../../lib/jquery-1.11.1.min.js"></script>
<script src="http://hfkun.github.io/js/util.js"></script>
<script src="http://hfkun.github.io/js/mytree/js/mytree.js"></script>
<script>
    $.get("http://hfkun.github.io/data/myblog.json",function(data){
        console.info(data);
    },"json");
</script>
</body>
</html>