.glyphicon {cursor: pointer;}

.nav-collapse {margin-top: 30px;padding-top:5px;border: 1px solid #C6C6C6;margin-bottom:10px;}
.nav-collapse:after {display: block;content:'';clear: both;}
.column-sidebar-menu {padding-left:4px;list-style-type:none; padding-bottom: 4px;}
.column-sidebar-menu input[type='checkbox'] {margin-right: 5px;}
.column-sidebar-menu a {display: inline-block;width: 99%;padding: 10px;}
.column-sidebar-menu a:hover {text-decoration: none;background-color: #E5E5E5;}
.column-sidebar-menu a:link {text-decoration: none;}
.column-sidebar-menu .title-padding {padding-left: 14px;}
.column-sidebar-menu .glyphicon-unchecked {float: right;margin-right: 10px;display: none;}
.column-sidebar-menu .glyphicon-check {float: right;margin-right: 10px;}
.column-sidebar-menu .title { margin-left:10px; height: 20px; }
.column-sidebar-menu .sub-menu {padding-left:0;list-style-type:none;}
.column-sidebar-menu .sub-menu a {padding-left:30px;}
.column-sidebar-menu .loop-sub-menu1 {padding-left:0;list-style-type:none;}
.column-sidebar-menu .loop-sub-menu1 a {padding-left:36px;}
.column-sidebar-menu .loop-sub-menu2 {display:none;padding-left:0;list-style-type:none;}
.column-sidebar-menu .loop-sub-menu2 a {padding-left:60px;}
.column-sidebar-menu .loop-sub-menu3 {display:none;padding-left:0;list-style-type:none;}
.column-sidebar-menu .loop-sub-menu3 a {padding-left:55px;}
.column-sidebar-menu .loop-sub-menu4 {display:none;padding-left:0;list-style-type:none;}
.column-sidebar-menu .loop-sub-menu4 a {padding-left:60px;}

.column-sidebar-menu .sub-menu .third-menu {
	position: absolute;
	z-index: 99999;
	display:none;
	background-color: white;
	padding: 4px 0 4px 4px;
	list-style-type:none;
	border:2px solid #E5E5E5;
}
.column-sidebar-menu .sub-menu .third-menu a {padding-left:10px;}
.column-sidebar-menu .sub-menu .fourth-menu {
	position: absolute;
	z-index: 99999;
	display:none;
	background-color: white;
	padding: 4px 0 4px 4px;
	list-style-type:none;
	border:2px solid #E5E5E5;
}
.column-sidebar-menu .sub-menu .third-menu li {width: 200px;}
.column-sidebar-menu .selected {background-color: #E5E5E5;}

